
#sb {
    align-self: center;
   font-family: 'Andes';
   color: #e50972;
    font-size: 40px;
    margin: 0px 0px 0px 0px;
}

#salao{
    font-family: 'Copperplate Becker Light';
    font-size: 20px;
    color: #e50972;
    margin: 0px;
}

#formulario{
    align-self: center;
    font-family: 'Copperplate Becker Light';
    margin: 0px;
    padding: 10px;

}

#Senha{
    align-self: center;
    margin: 0px;
    font-family: 'Arial';
}

#usuario{
    margin: 0px;
    font-family: 'Arial';
}
.volt{
    text-align: center;
    margin: 0px;
    font-family: 'Arial';

}

#btvoltar{
    align-self: center;
    font-family: 'Copperplate Becker Light';
    margin: 0px 0px 30px 0px;
   
}

#btcadastro{
    align-self: center;
    font-family: 'Copperplate Becker Light';  
    margin: 10px;
}




