<ion-header></ion-header><br>
<h3 id="sb">Tela de cadastro</h3>
<form id="formulario" action="#" method="post"><br>

        <div>
                <label for="usuario">Nome de Usuário:</label><br>
                <input type="textarea" id="usuario" /><br>
        </div>

        <div>
                <label for="senha">Senha:</label> <br>
                <input type="password" id="senha" /><br>
        </div>

        <div>
                <label for="senha">Confirma senha:</label> <br>
                <input type="password" id="senha" /><br>
        </div>

        <div>

                <label for="e-mail">E-mail:</label><br>
                <input type="textarea" id="E-mail" /><br>
        </div>

        <div>

                <label for="Número">Número pra contato:</label><br>
                <input type="textarea" id="Número" /><br><br><br>
        </div>

        <div class="marca">
                <img id="logo" src="/assets/Image/sblogo199x110.png" alt="Sempre Bella">
                <h3 id="sb">Sempre Bella</h3>
        </div>

</form>
<br>
<br>
<ion-button id="btcadastro" type="submit">Cadastre-se</ion-button>

<a href="login">
<div class="volt">
        <ion-button id="btvoltar" type="submit">Voltar</ion-button>
</div>
</a>


<ion-content>

</ion-content>