.marca {
    align-self: center;
    margin: 20px;
}

#logo {
    align-self: center;
    margin: 20px 0px 0px 0px;
}

#sb {
    align-self: center;
   font-family: 'Andes';
   color: #a93a7b;
    font-size: 40px;
    margin: 0px 0px 0px 0px;
}

#salao{
    font-family: 'Copperplate Becker Light';
    font-size: 20px;
    color: #e50972;
    margin: 0px;
}

#formulario{
    align-self: center;
    font-family: 'Copperplate Becker Light';
    margin: 0px;
    padding: 10px;

}

#senha{
    align-self: center;
    margin: 0px;
    font-family: 'Arial';
}

#usuario{
    margin: 0px;
    font-family: 'Arial';
}


#btentrar{
    align-self: center;
    font-family: 'Copperplate Becker Light';  
    margin: 10px;
}

.volt{
    text-align: center;
    font-family: 'Copperplate Becker Light';
    margin: 0px 0px 30px 0px;
}
