<ion-header></ion-header>

<div class="marca">
        <img id="logo" src="/assets/Image/sblogo199x110.png" alt="Sempre Bella">
        <h1 id="sb">Sempre Bella</h1>
        <h2 id="salao">Salão</h2>
</div>

<form id="formulario" action="#" method="post">
        <div>

                <label for="usuario">Usuário:</label><br>
                <input type="textarea" id="usuario" /><br><br><br>
        </div>
            
        <div>
                <label for="senha">Senha:</label> <br>
                <input type="password" id="senha" /><br>
        </div>
</form>
<br>
        <ion-button id="btentrar" type="submit">Entrar</ion-button>
        <br>
        <div class="volt">
        <a href="cadastro"><ion-button id="btcadastro" type="submit">Cadastre-se</ion-button></a>
</div>

<ion-content>

</ion-content>