.title {
    text-align-last: center;
    color: #a93a7b;
    font-family: 'Andes';
    font-size: 30px;
  
  }
  .menu {
    --width: 500px;
  
  }
  .item {
    font-family: 'Copperplate Becker Light';
    --background: #e50972;
    margin: 10px;
    }

    #btbotoes{
      align-self: center;
      font-family: 'Copperplate Becker Light'; 
      --background: #e50972; 
      margin: 10px
      
  }