<ion-header>
	<ion-toolbar>
		<ion-title class="title">Sempre Bella</ion-title>	
	</ion-toolbar>
</ion-header>
<ion-menu-button></ion-menu-button><!--cria o botão de menu-->
<!--criação do menu-->
<ion-content>
	<ion-menu side="start" menuId="first" type="push" class="menu">
		<ion-header>
			<ion-toolbar>
				<ion-title>Menu</ion-title>
			</ion-toolbar>
		</ion-header>
		<ion-content>
			<ion-list>
				<ion-button class="item">Serviços</ion-button><br>
				<ion-button id="btbotoes" type="submit" >Promoções</ion-button><br>
				<ion-button id="btbotoes" type="submit" >Agendamento</ion-button><br>
				<ion-button id="btbotoes" type="submit" >Configurações</ion-button><br>
				
			</ion-list>
		</ion-content>
	</ion-menu>


	<ion-router-outlet main></ion-router-outlet>

</ion-content>