<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tab One</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="eurivam">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Eurivam</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lauro">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Lauro Moreira</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
